@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.layout {
  border-radius: 8px;
  overflow: hidden;
  width: auto;
  height: auto;
}

.sider {
  text-align: center;
  line-height: 120px;
  background-color: #fff;
  height: 100vh;
}

.sider-footer {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.header {
  text-align: center;
  color: black;
  height: 88px;
  padding-inline: 48px;
  line-height: 64px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  left: 70px;
}

.content {
  text-align: center;
  min-height: 120px;
  line-height: 120px;
  color: #bab8b8;
  background-color: aliceblue;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  gap: 20px;
}

.form-group {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
}

.form-group label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: grey;
}

.form-group input,
.form-group select,
.Button {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 11px;
  padding-bottom: 11px;
  gap: 10px;
}

.form-group input.error,
.form-group select.error {
  border: 1px solid red;
  background-color: #f8d7da;
}
.phone-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone-input select {
  width: 73px;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid rgb(236, 235, 235);
}

.phone-input input {
  flex-grow: 1;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid rgb(236, 235, 235);
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px; /* Space between error and input field */
  align-self: flex-start;
  line-height: 1;
}

.btn-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 60px;
}

.btn {
  width: 15%;
  padding: 12px;
  background-color: #2563eb;
  color: white;
  border-radius: 8px;
  border: 2px solid #2563eb;
}

.upload-button {
  display: flex;
  justify-content: flex-start;
}
