@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.sider {
  text-align: center;
  line-height: 120px;
  background-color: #fff;
  height: 100vh;
}
/* headerstyles */
.header {
  height: 88px;
  left: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.heading {
  font-weight: 20px;
  font-weight: 200px;
  line-height: 125%;
  letter-spacing: 0.2px;
  color: #0f172a;
}
.searchicon-postion {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.searchicon {
  width: 20;
  height: 20;
  color: grey;
}
.messageicon {
  width: 18px;
  height: 16px;
  color: grey;
}
.bellicon {
  width: 23px;
  height: 23px;
  border-width: 1.5px;
}
.downarrowicon {
  width: 8px;
  height: 8px;
}
/* contentstyles */
.content {
  padding: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-container {
  background-color: white;
  border-radius: 16px;
  width: 100%;
  height: auto;
  padding: 20px;
}
.form-container1 {
  background-color: white;
  border-radius: 16px;
  width: 100%;
  height: auto;
  padding: 20px;
}
.form-container2 {
  background-color: white;
  border-radius: 16px;
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 20px;
}
.form-container3 {
  background-color: white;
  border-radius: 16px;
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 20px;
}
.tabs-container {
  margin-top: 0;
}
.form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-field {
  width: 250px;
  height: 40px;
  border-radius: 8px;
  border-width: 1px;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 12px;
  border: 1px solid #e2e8f0;
}
.label {
  margin-bottom: 2px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: capitalize;
  color: #64748b;
}

.btn-container {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.btn-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
button[type="submit"] {
  width: 120px;
  height: 48px;
  gap: 10px;
  padding-top: 10.5px;
  padding-right: 16px;
  padding-bottom: 10.5px;
  padding-left: 16px;
  border-radius: 8px;
  background-color: #2563eb;
}

button[type="submit"]:hover {
  background-color: #40a9ff;
}

.cancel-button {
  width: 120px;
  height: 48px;
  gap: 10px;
  border-radius: 8px;
  padding-top: 10.5px;
  padding-right: 16px;
  padding-bottom: 10.5px;
  padding-left: 16px;
  border-width: 1.5px;
  font-size: 14px;
  font-weight: 600px;
  color: #64748b;
  border: 1.5px solid #64748b;
  background-color: white;
  margin-right: 12px;
}
.table-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  width: 100%;
  height: auto;
  gap: 20px;
  padding: 10px;
}

.table-with-column-divider .ant-table-thead > tr > th {
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.table-with-column-divider .ant-table-tbody > tr > td {
  border-bottom: none;
  border-right: 1px solid #ebebeb;
}

.table-with-column-divider .ant-table-tbody > tr:last-child > td {
  border-bottom: 1px solid #ebebeb;
}

.table-with-column-divider .ant-table-tbody > tr > td:last-child {
  border-right: none;
}

.table-with-column-divider .ant-table-thead > tr > th:last-child {
  border-right: none;
}
.size-changer {
  flex: 0 1 auto;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

/* branches */
